<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.platform.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.nf147.platform.entity.Employee">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from employee
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nf147.platform.entity.Employee">
    insert into employee (id, name, sex, 
      education, salary)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{salary,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.platform.entity.Employee">
    update employee
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=DECIMAL}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, sex, education, salary
    from employee
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sex, education, salary
    from employee
  </select>
</mapper>