<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.platform.dao.GeAnalyzingMapper">
  <resultMap id="BaseResultMap" type="com.nf147.platform.entity.GeAnalyzing">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="analyzing_raw_id" jdbcType="INTEGER" property="analyzingRawId" />
    <result column="policy_id" jdbcType="INTEGER" property="policyId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="release_organization" jdbcType="VARCHAR" property="releaseOrganization" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="comment_times" jdbcType="INTEGER" property="commentTimes" />
    <result column="shared_times" jdbcType="INTEGER" property="sharedTimes" />
    <result column="upvote_times" jdbcType="INTEGER" property="upvoteTimes" />
    <result column="favor_times" jdbcType="INTEGER" property="favorTimes" />
    <result column="readed_times" jdbcType="INTEGER" property="readedTimes" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ge_analyzing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.platform.entity.GeAnalyzing">
    insert into ge_analyzing (id, analyzing_raw_id, policy_id, 
      title, release_time, release_organization, 
      status, comment_times, shared_times, 
      upvote_times, favor_times, readed_times, 
      created_time, updated_time, content
      )
    values (#{id,jdbcType=INTEGER}, #{analyzingRawId,jdbcType=INTEGER}, #{policyId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP}, #{releaseOrganization,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{commentTimes,jdbcType=INTEGER}, #{sharedTimes,jdbcType=INTEGER}, 
      #{upvoteTimes,jdbcType=INTEGER}, #{favorTimes,jdbcType=INTEGER}, #{readedTimes,jdbcType=INTEGER}, 
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.platform.entity.GeAnalyzing">
    update ge_analyzing
    set analyzing_raw_id = #{analyzingRawId,jdbcType=INTEGER},
      policy_id = #{policyId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      release_organization = #{releaseOrganization,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      comment_times = #{commentTimes,jdbcType=INTEGER},
      shared_times = #{sharedTimes,jdbcType=INTEGER},
      upvote_times = #{upvoteTimes,jdbcType=INTEGER},
      favor_times = #{favorTimes,jdbcType=INTEGER},
      readed_times = #{readedTimes,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, analyzing_raw_id, policy_id, title, release_time, release_organization, 
    status, comment_times, shared_times, upvote_times, favor_times, readed_times, created_time, 
    updated_time, content
    from ge_analyzing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, analyzing_raw_id, policy_id, title, release_time, release_organization, 
    status, comment_times, shared_times, upvote_times, favor_times, readed_times, created_time, 
    updated_time, content
    from ge_analyzing
  </select>
</mapper>