<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.platform.dao.GeEnterpriseNatureRelationMapper">
  <resultMap id="BaseResultMap" type="com.nf147.platform.entity.GeEnterpriseNatureRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_info_id" jdbcType="INTEGER" property="enterpriseInfoId" />
    <result column="enterprise_nature_id" jdbcType="INTEGER" property="enterpriseNatureId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ge_enterprise_nature_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.platform.entity.GeEnterpriseNatureRelation">
    insert into ge_enterprise_nature_relation (id, enterprise_info_id, enterprise_nature_id
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseInfoId,jdbcType=INTEGER}, #{enterpriseNatureId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.platform.entity.GeEnterpriseNatureRelation">
    update ge_enterprise_nature_relation
    set enterprise_info_id = #{enterpriseInfoId,jdbcType=INTEGER},
      enterprise_nature_id = #{enterpriseNatureId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, enterprise_info_id, enterprise_nature_id
    from ge_enterprise_nature_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, enterprise_info_id, enterprise_nature_id
    from ge_enterprise_nature_relation
  </select>
</mapper>