<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.platform.dao.GeFavorMapper">
  <resultMap id="BaseResultMap" type="com.nf147.platform.entity.GeFavor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="policy_id" jdbcType="INTEGER" property="policyId" />
    <result column="favor_time" jdbcType="TIMESTAMP" property="favorTime" />
    <result column="favor_type" jdbcType="VARCHAR" property="favorType" />
    <result column="policy_type" jdbcType="VARCHAR" property="policyType" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ge_favor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.platform.entity.GeFavor">
    insert into ge_favor (id, user_id, policy_id, 
      favor_time, favor_type, policy_type, 
      operate_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{policyId,jdbcType=INTEGER}, 
      #{favorTime,jdbcType=TIMESTAMP}, #{favorType,jdbcType=VARCHAR}, #{policyType,jdbcType=VARCHAR}, 
      #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.platform.entity.GeFavor">
    update ge_favor
    set user_id = #{userId,jdbcType=INTEGER},
      policy_id = #{policyId,jdbcType=INTEGER},
      favor_time = #{favorTime,jdbcType=TIMESTAMP},
      favor_type = #{favorType,jdbcType=VARCHAR},
      policy_type = #{policyType,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, policy_id, favor_time, favor_type, policy_type, operate_time
    from ge_favor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, policy_id, favor_time, favor_type, policy_type, operate_time
    from ge_favor
  </select>
</mapper>