<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.platform.dao.GePolicyCompliantNatureMapper">
  <resultMap id="BaseResultMap" type="com.nf147.platform.entity.GePolicyCompliantNature">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_nature_id" jdbcType="INTEGER" property="enterpriseNatureId" />
    <result column="policy_id" jdbcType="INTEGER" property="policyId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ge_policy_compliant_nature
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.platform.entity.GePolicyCompliantNature">
    insert into ge_policy_compliant_nature (id, enterprise_nature_id, policy_id
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseNatureId,jdbcType=INTEGER}, #{policyId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.platform.entity.GePolicyCompliantNature">
    update ge_policy_compliant_nature
    set enterprise_nature_id = #{enterpriseNatureId,jdbcType=INTEGER},
      policy_id = #{policyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, enterprise_nature_id, policy_id
    from ge_policy_compliant_nature
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, enterprise_nature_id, policy_id
    from ge_policy_compliant_nature
  </select>
</mapper>